.setting label{
    display: block;
 margin-bottom: 0.1em;
 font-weight: bold;
 text-align:center;
}
.setting{
  
    gap: 40px; /* Adjust the gap between columns as needed */
    margin-top: 20px;
    background-color: rgba(21, 159, 175, 0.92);
    max-width: 300px;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 35%;
    margin-right: 25%;
   }
   .setting input,
   .setting textarea {
     width: 15%;
     padding: 0.5em;
     border: 1px solid #ccc;
     border-radius: 2px;
     
   }
   .setting button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #7f0e63;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  .setting button:hover {
    background-color: #42082d;
  }
 